@charset "utf-8";
@import "common";

html {
  font-family: $font-family-basic;
}

.container-wrapper {
  overflow: hidden;
  width: 100%;
}

.container {
  width: 127rem;
  margin: auto;

  @include sp {
    width: 100%;
    padding: 0 1.6rem;
  }
}

.section-contents {
  padding-top: 11rem;

  @include sp {
    padding-top: 8.7rem;
  }
}

.main {
  padding-bottom: 6rem;

  @include sp {
    padding-bottom: 9rem;
  }

  &-hero {
    position: relative;
    height: 60rem;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 100vw;
      height: 100%;
      background: url("../images/main-hero@2x.jpg") top left/cover no-repeat;
      transform: translateX( -50%);
      z-index:  -1;
    }
  }

  &-pickup {

    @include sp {
      margin: auto;
    }

    &-title {
        font-size: 3.6rem;
        text-align: center;
        margin-bottom: 3.8rem;

      @include sp {
        font-size: 2.4rem;
        margin-bottom: 2.5rem;
      }
    }

    &-list {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      margin: auto;

      @include sp {
        padding: 0 7rem;
      }
    }

    &-item {
      width: 36rem;

      @include sp {
        + .main-pickup-item {
          display: none;
        }

        width: 100%;
        margin: auto;
      }
    }
  }
}

.main-feature {

  &-title {
    font-size: 3.6rem;
    text-align: center;
    margin-bottom: 3.8rem;
    
    @include sp {
      font-size: 2.4rem;
      margin-bottom: 2.5rem;
    }
  }

  &-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    margin: -2.5rem -2.6rem 0 0;

    @include sp {
      width: 100%;
      margin: -2.6rem 0 0;
    }
  }

  &-item {
    width: 38.5rem;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.16);
    margin: 2.5rem 2.6rem 0 0;

    @include sp {
      width: 100%;
      margin: 2.6rem 0 0;
    }
  }

  &-item-bottom {
    padding: 3rem;
    border: solid #CCCCCC 0.1rem;
  }

  &-item-category {
    font-size: 1.2rem;
  }

  &-item-text {
    margin: 2.4rem 0 4.1rem;
    font-size: 1.4rem;
    line-height: 1.7;
  }
   
  &-item-date {
    font-size: 1.2rem;
    text-align: right;
    display: block;
  }
}